AddDefaultCharset UTF-8

RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^(.+[^/])$
    RewriteRule . %1/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/index/$
    RewriteRule . / [R=301,L]

RewriteCond %{REQUEST_FILENAME} !^favicon\.ico
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php

<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript application/x-javascript text/html text/plain text/xml image/x-icon image/jpeg image/png
</ifmodule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType application/x-woff .woff
AddType image/svg+xml .svg
AddType application/octet-stream .afm

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 year"
#ExpiresByType js/javascript "access plus 1 year"
</IfModule>

<FilesMatch "\.(jpg|jpeg|png|gif)$">
#Header set Cache-Control "max-age=29030400, public"
Header append Cache-Control "public"
</FilesMatch>
<FilesMatch "\.(css|js)$">
Header append Cache-Control "public"
#Header set Cache-Control "max-age=29030400, proxy-revalidate"
</FilesMatch>